mixin NavBar(name)
  - var main =[{name:'CSS Components', href:'typography'}];
  - main.push({name:'Javascript Tools', href:'component/accordion'});
  nav.nav-tabs
    ul
      each nav in main
        - var cls = '';
        - if (nav.name == name) cls = 'active';
        li(class=cls)
          a(href='/#{nav.href}.html')= nav.name




mixin leftNav(name)
  - var pages =[{name:'Typography', href:'typography'}];
  - pages.push({name:'Навигация', href:'navigation'});
  - pages.push({name:'Grid', href:'grids'});
  - pages.push({name:'Блоки', href:'blocks'});
  - pages.push({name:'Таблицы', href:'table'});
  - pages.push({name:'Формы', href:'form'});
  - pages.push({name:'Label', href:'label'});
  - pages.push({name:'Кнопки', href:'button'});

  - pages.push({name:'Поиск', href:'search'});
  - pages.push({name:'Notifications', href:'notifications'});
  - pages.push({name:'Colors', href:'colors'});
  - pages.push({name:'Helpers', href:'helpers'});
  - pages.push({name:'Mixins', href:'mixins'});
  - pages.push({name:'Icons', href:'icons'});

  nav.nav.nav-stacked
    ul
      each page in pages
        - var cls = '';
        - if (page.name == name) cls = 'active';
        li(class=cls)
          a(href='/#{page.href}.html')= page.name

mixin leftNavComponent(name)
  - var pages =[{name:'Accordion', href:'accordion'}];
  - pages.push({name:'Autocomplete', href:'autocomplete'});
  - pages.push({name:'Buttons', href:'button'});
  - pages.push({name:'Message', href:'message'});

  nav.nav.nav-stacked
    ul
      each page in pages
        - var cls = '';
        - if (page.name == name) cls = 'active';
        li(class=cls)
          a(href='/component/#{page.href}.html')= page.name
