include mixin/source

extends ./index.jade

mixin buttons(extend)
  +source(extend)
    button.btn(class='btn-#{extend}') Button
    button.btn.btn-disabled(class='btn-#{extend}') Disabled
    button.btn.btn-active(class='btn-#{extend}') Active
    button.btn.btn-outline(class='btn-#{extend}') Outline
    button.btn.btn-disabled.btn-outline(class='btn-#{extend}') Disabled
    button.btn.btn-active.btn-outline(class='btn-#{extend}') Active


block content
  #Buttons
    h1 Buttons

    +source('Default Buttons')
      a.btn(href='#') Link
      button.btn Button
      input.btn(type='submit', value='Submit')

    hr
    h3 normal
    +buttons('')
    +buttons('black')
    +buttons('blue')
    +buttons('red')
    +buttons('yellow')
    +buttons('green')
    +buttons('white')

    +source(' Padding in Forms')
      //- @bug: Padding in Forms
      form.forms(action='#')
        input(type='text', placeholder='Input')
        a.btn(href='#') Link
        button.btn Button
        input.btn(type='submit', value='Submit')


    +source(' Active & Disabled buttons')
      button.btn.btn-active Active
      button.btn.btn(disabled='true') Disabled
      button.btn.btn-disabled Disabled


    h2 Big Buttons
      +buttons('big')

    h2 Small Buttons
      +buttons('small')


    h2 Smaller Buttons
      +buttons('small-super')
      +buttons('smaller btn-outline')


    +source(' Buttons Width')
      button.btn.width-100 Button 100%
      button.btn.width-50 Button 50%

    +source(' Append Button')
      form.forms(action='')
        .input-groups
          input(type='text', name='go', placeholder='Search')
          span.btn-append
            button.btn.btn-blue Search


    +source(' Bold Button')
      button.btn.btn-outline.btn-black.bold Outline
      button.btn.bold Button
      button.btn.btn-blue.bold Blue


    +source(' Round Button')
      button.btn.btn-round Button
      button.btn.btn-big.btn-round Big
      button.btn.btn-small.btn-round Small
      button.btn.btn-smaller.btn-round Smaller
      button.btn.btn-blue.btn-round Blue
      button.btn.btn-outline.btn-black.btn-round Outline
      button.btn.btn-outline.btn-black.bold.btn-round Outline


    +source(' Buttons Group')
      span.btn-group
        button.btn 1
        button.btn.btn-active 2
        button.btn 3

    +source(' Buttons Group blue')
      span.btn-group
        button.btn.btn-outline.btn-blue 1
        button.btn.btn-outline.btn-blue 2
        button.btn.btn-outline.btn-blue 3

    +source(' Buttons Group small')
      span.btn-group
        button.btn.btn-small 1
        button.btn.btn-small.btn-blue 2
        button.btn.btn-small 3

      span.btn-single
        button.btn.btn-small.btn-red 4

