include mixin/source
extends ./index.jade
block content
  //- Test Labels
  #navigation
    h1 Navigation
    hr
    - var navbar = [];
    - navbar.push({stat:'1',cls:'',name : 'Home'});
    - navbar.push({stat:'2',cls:'active',name : 'About'});
    - navbar.push({stat:'3',cls:'',name : 'Showcase'});
    - navbar.push({stat:'4',cls:'',name : 'Help'});
    - navbar.push({stat:'5',cls:'',name : 'Contact'});

    +source('Navbar')
      nav.navbar
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name

    h3 Navbar Examples
    hr

    //- @todo: Navbar Fullwidth не работает
    +source('Navbar Fullwidth')
      nav.navbar.nav-fullwidth
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name

    h3 Navbar Fullwidth Examples
    hr

    +source('Pills')
      nav.navbar.navbar-pills
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name

    +source('Left & Right Navbars')
      header.group
        nav.navbar.navbar-left
          ul
            each nav in navbar
              li(class=nav.cls)
                a(href='#')= nav.name

    //- @bug: .input-search-icon нет иконки
    +source('Navbar Form')
      header.group
        nav.navbar.navbar-left
          ul
            each nav in navbar
              li(class=nav.cls)
                a(href='#')= nav.name
        form.right.width-30(action='')
          input.input-search.input-search-icon.width-100(type='text', placeholder='Search')


    +source('Vertical Navigation')
      nav.nav
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name

    h2 Vertical Navigation with Nested Items
    //- @todo: Сделать пример для Vertical Navigation with Nested Items
    hr

    +source('Stacked')
      nav.nav.nav-stacked
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name


    +source('Stats')
      nav.nav.nav-stats
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name
              sup= nav.stat

    +source('Stats badge')
      nav.nav.nav-stats
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name
              b.badge.badge-small= nav.stat
    hr

    +source('Tabs')
      nav.nav-tabs
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name


    +source('Breadcrumbs')
      nav.breadcrumbs
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name

    +source('Breadcrumbs path')
      nav.breadcrumbs.breadcrumbs-path
        ul
          each nav in navbar
            li(class=nav.cls)
              a(href='#')= nav.name


    +source('Pagination')
      ul.pagination
        li
          a(href='#') &larr;
        each page in [1,2,3,4]
          li
            a(href='#')= page
        li
          span 5
        li
          a(href='#') &rarr;

    +source('Pagination 1')
      ul.pagination
        li
          a(href='#') &larr;
        li
          span 2 of 10
        li
          a(href='#') &rarr;

